<%= form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <label class="control-label"> Select trial to apply:</label>
    <div class="controls">
      <%= select_tag "trial", options_from_collection_for_select(@trials, "id", "name") %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :father_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :father_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :dob, :start_year => 1900, :end_year => Date.today.year, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Phone(mobile)', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Phone(landline)', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Let me in', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                patients_path, :class => 'btn' %>
  </div>
<% end %>
