<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.full_name %></td>
        <td><%= patient.email %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phone %></td>
        <td><%= link_to 'View Exam', '#' %></td>
      </tr>
    <% end %>
  </tbody>
</table>